<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="description" content="@ViewBag.Title">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="msapplication-tap-highlight" content="no">
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body style="background-color:#edf2f9; margin: 0; height: 100%;">
    <div class="page-wrapper">
        <div class="page-inner">
            <div class="page-content-wrapper  m-0">

                <div class="flex-1">
                    <div class="container">
                        @RenderSection("PageHeading", required: false)
                        @RenderBody()

                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>

