@model WebShopApp.Models.Shop.ProductViewModel

<div class="modal fade" id="reviewsModal" tabindex="-1" aria-labelledby="reviewsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewsModalLabel">
                    Customer Reviews
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (Model.Reviews != null && Model.Reviews.Count > 0)
                {
                    <ul class="list-group">
                        @foreach (var review in Model.Reviews)
                        {
                            <li class="list-group-item">
                                <p><strong>@review.ReviewerName</strong> (@review.Date.ToShortDateString())</p>
                                <p>Raiting: @review.Rating</p>
                                <p>@review.Comment</p>
                            </li>
                        }
                    </ul>
                }
            </div>

        </div>
    </div>
</div>