@model WebShopApp.DAL.Models.Order

<div class="col-12 mt-4">
    <div class="card">
        <div class="card-header">
            <h4>Detalji Narudžbe</h4>
        </div>
        <div class="card-body">
            <p>Dodaj elemente ili detalje o narudžbi ovdje...</p>
            <ul>
                <li>Proizvod 1 - 100,00 HRK</li>
                <li>Proizvod 2 - 200,00 HRK</li>
            </ul>
        </div>
    </div>
</div>